.userpic {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.empty-pic {
    background-color: #eaeeef;
    width: 100%;
    height: 100%;
    position: absolute;
}