.data-list__container
  .data-list__body
    .page-header
      .breadcrumbs
        span.breadcrumb Таблицы
        .breadcrumb__arrow
          svg(id="packages--wrike_components--iconset--icon-arrow-right" viewBox="0 0 16 16" width="100%" height="100%")
            path(d="M6.5 4.5l4 4L11 8l-.5-.5L7 4l-.5.5zm0 7l.5.5 3.5-3.5L10 8l-3.5 3.5z")
        span.breadcrumb Мои таблицы
      h1() Управление таблицами