button(class='dropdown'  class="{{className}} {{size}}" '(click)'="toggleDropdown()" '[ngClass]'="isOpen && 'active'" '[disabled]'="isDisabled") {{value}}{{suffix}}
    i(class="nc-icon-outline arrows-1_minimal-down")
