.dropdown__container
  button(class="dropdown__button {{size}} {{state}}" '(click)'="toggleDropdown($event)" '[ngClass]'="isOpen && 'active'" '[disabled]'="isDisabled") {{value}}{{suffix}}
    svg(width="24px" height="24px" viewBox="0 0 24 24")
      path(d="M11.65625,13.84375 L8.65625,10.84375 C8.55208281,10.7499995 8.5,10.6354173 8.5,10.5 C8.5,10.3645827 8.55208281,10.2500005 8.65625,10.15625 C8.75000047,10.0520828 8.86458266,10 9,10 C9.13541734,10 9.24999953,10.0520828 9.34375,10.15625 L12,12.796875 L14.65625,10.15625 C14.7500005,10.0520828 14.8645827,10 15,10 C15.1354173,10 15.2499995,10.0520828 15.34375,10.15625 C15.4479172,10.2500005 15.5,10.3645827 15.5,10.5 C15.5,10.6354173 15.4479172,10.7499995 15.34375,10.84375 L12.34375,13.84375 C12.3020831,13.8958336 12.2473962,13.9348957 12.1796875,13.9609375 C12.1119788,13.9869793 12.0520836,14 12,14 C11.9479164,14 11.8880212,13.9869793 11.8203125,13.9609375 C11.7526038,13.9348957 11.6979169,13.8958336 11.65625,13.84375 Z")
