.list-body-cell {
    height: 40px;
    padding: 0 12px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    span {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: var(--color-typo-secondary);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        margin-top: auto;
        margin-bottom: auto;
    }
}