ng-container
    .input__container
        input(type="text" class="input__field size-large state_default" '[formControl]'="controlOptions" '[id]'="controlOptions" '[attr.placeholder]'="placeholder" #inputControl)
