.textarea__container
    textarea(class="textarea__field {{size}} {{state}}"  '[formControl]'="controlOptions" '[id]'="controlName" '(input)'="onChange($event)" '(blur)'="blurLost($event)" '[attr.placeholder]'="placeholder")