@import 'mixins';
@import 'grid';
.data-list__container {
    width: 100%;
    height: 100%;
}

.data-list__body {
    width: 100%;
    height: 100%;
    height: calc(100vh - 80px);
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #FFF;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .16), 0 0 1px 0 rgba(0, 0, 0, .16);
    border-radius: 3px;
}

.breadcrumbs {
    display: flex;
    margin-bottom: 4px;
}

.breadcrumb {
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    color: #666;
}

.breadcrumb__arrow {
    width: 16px;
    height: 16px;
    margin-top: 3px;
    margin-right: 2px;
    svg {
        fill: #666;
    }
}