@charset 'UTF-8';
@import 'mixins';
// ----- Parent Component Listeners ------- //
:host {
    transition: all .3s ease;
    line-height: 1em;
    &:focus {
        outline: none;
    }
    &:active {
        outline: rgba(0, 0, 0, .0) auto 0;
    }
}

.rosa-button__primary {
    color: #fff !important;
    background-color: #e60028 !important;
    border-color: #e60028 !important;
}

.rosa-button__secondary {
    color: #464648 !important;
    background-color: #eaeeef !important;
    border-color: #eaeeef !important;
}

.rosa-button__ghost {
    color: #464648;
    background-color: #FFF;
    border-color: #464648;
}

.rosa-button__black {
    color: #cfcfcf;
    background-color: #20201b;
    border-color: #20201b;
}

.rosa-button__white {
    color: #464648;
    background-color: #FFF;
    border-color: #FFF;
}

.rosa-button__medium {
    line-height: 32px;
    height: 36px;
    padding: 0 16px !important;
}

.rosa-button__medium {
    line-height: 24px;
    height: 24px;
    padding: 0 16px !important;
}

.rosa-button__inline {
    line-height: 28px;
    height: 30px;
    padding: 0 12px !important;
}

.rosa-button__link {
    color: #e60028 !important;
    box-shadow: none !important;
    padding: 0 !important;
    &:hover {
        color: #464648 !important;
    }
    &:host {
        span {
            color: #e60028 !important;
            box-shadow: none !important;
            padding: 0 !important;
        }
    }
}

.rosa-button {
    @include button-reset;
    font-size: 13px;
    font-weight: 500;
    // text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    border-radius: 4px;
    min-width: 80px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    &:active {
        outline: rgba(0, 0, 0, .0) auto 0;
    }
    &:disabled {
        opacity: 0.65 !important;
    }
}

.button-value {
    display: flex;
    pointer-events: none;
}

.state-loading {
    display: none;
    span {
        margin-left: 8px;
    }
}

.rosa-loading {
    .button-value {
        display: none;
    }
    .state-loading {
        display: inline-block !important;
    }
}

.rosa-icon {
    margin-left: -8px;
    transition: margin-left .3s cubic-bezier(.645, .045, .355, 1);
    animation: loadingCircle 1s infinite linear;
}

.rosa-button.state-loading::before {
    display: block;
}

.rosa-button::before {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    z-index: 1;
    display: none;
    background: #fff;
    border-radius: inherit;
    opacity: .35;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    pointer-events: none;
    content: '';
}

.rosa-icon {
    svg {
        display: inline-block;
        transition: margin-left .3s cubic-bezier(.645, .045, .355, 1);
        animation: loadingCircle 1s infinite linear;
    }
}

@keyframes loadingCircle {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.rosa-icon {
    line-height: 1;
}

.ant-btn>i,
.ant-btn>span {
    display: inline-block;
    pointer-events: none;
}

.rosa-icon {
    display: inline-block;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.rosa-icon svg {
    display: inline-block;
}

.rosa-loading {
    display: inline-block;
}

.ant-btn>.anticon+span,
.ant-btn>span+.anticon {
    margin-left: 8px;
}

.ant-btn>i,
.ant-btn>span {
    display: inline-block;
    pointer-events: none;
}

.ant-btn-primary {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}